.logoBanner {
  position: relative;
}

.logoBanner::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: var(--logo-background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.7;
}

.logoBannerImage {
  position: relative;
  z-index: 1;
}

.logoBannerImage {
  filter: grayscale(30%);
}

.logoBanner:hover .logoBannerImage {
  transform: translateY(-1px) scale(1.0367);
  filter: grayscale(0%) drop-shadow(0px 0px 9px #ffffffb8);
}
